global
    log /dev/log local0
    log /dev/log local1 notice
    daemon
    maxconn 2048

defaults
    log global
    mode http
    option httplog
    option dontlognull

    timeout connect 5s
    timeout client 30s
    timeout server 30s

    errorfile 503 /etc/haproxy/errors/503.http


resolvers consul
    nameserver consul_dns 127.0.0.1:8600
    resolve_retries 3

    timeout resolve 1s
    timeout retry 1s

    hold valid 10s
    hold other 10s
    hold refused 10s
    hold nx 10s
    hold timeout 10s


frontend http_front
    bind *:80
    default_backend node_servers


backend node_servers
    balance roundrobin

    option httpchk GET /health
    http-check expect status 200

    server-template nodeapp 5 _nodeapp._tcp.service.consul check resolvers consul init-addr none


listen stats
    bind *:8404
    mode http

    stats enable
    stats uri /stats
    stats refresh 5s

    stats auth admin:admin

